
.contact-card {
    display: flex;
    align-items: center;
    background-color: #e5bd6629;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 10px 0;
 
}
.card {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: rgba(255, 212, 127, 0.109);
    background-color: #f9f9f9

}
/* Efecto al pasar el mouse */
.card:hover {
    transform: scale(1.05);
}

/* Estilo para la foto de contacto */
.contact-photo {

    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
}

.botones {
    display: flex;
    gap: 10px;
    align-items: center;
}


/* Estilo para los botones */
.botones .btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.divdetodo {

    background-color: white;
    padding: 25px;
    font-size: large;
}

h3 {
    display: flex;
margin-left: 2vh;
}

p{
    display: flex;
    margin-left: 2vh;
}